<launch>
    <node name="driver_arduino" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyUSB0  _baud:=115200" />

    <rosparam command="load" file="$(find green_robot)/cfg/robotParameters.yaml" />

    <node name="wheelSpeedFilter" pkg="scripts" type="wheelSpeedFilter.py" output="screen"/>
    <node name="wheelPID" pkg="scripts" type="wheelPID.py" output="screen" />
    <node name="odometry" pkg="scripts" type="odometry.py" output="screen" />

<!--
    <node name="controlPosition" pkg="scripts" type="controlPosition.py" output="screen" />
    <node name="controlOrientation" pkg="scripts" type="controlOrientation.py" output="screen" />
-->
    
     <node name="controlAllocation" pkg="scripts" type="controlAllocation.py" output="screen" />
</launch>
