<launch>
    <arg name="debug" default="0"/>   <!-- 0-off, 1-on -->

    <node name="speed_conversion_node_left" pkg="speed_conversion" type="speed_conversion_node" ns="green_robot" output="screen">
        <param name="topic_wheel_encoder" value="sensors/encoders"/>
        <param name="topic_wheel_speed" value="sensors/wheel_speed"/>

        <param name="wheel_diameter" value="0.144"/>
        <param name="encoder_resolution" value="1536.0"/>
    </node>

    <group if="$(eval arg('debug') == 1)">
        <!--Запуск узла эмуляции робота-->
        <node name="speed_conversion_test" pkg="speed_conversion" type="speed_conversion_test" output="screen"/>
    </group>
</launch>
